<div id="soon" class="p-5" style="display: none;max-width:600px;">
    <h3>Bientôt !</h3>
    <p>Kan ar Bed sera bientôt disponible sur toutes les plateformes de streaming (Spotify, Deezer, Tidal, ...).</p>
    <p><button data-fancybox-close class="btn btn-primary">Fermer</button></p>
</div>

<div id="contact" class="p-5" style="display: none;max-width:600px;font-size:85%;">
  <h3>Contactez-nous !</h3>
  <p>Par mail : contact@kanarbed.fr</p>
  <p>Association Bannoù-heol<br>26 ter, chemin de Kervouieg<br>29000 Quimper<br>Tél. : +33 6 08 88 57 55.</p>
  <p><a href="http://b-heol.com">Site officiel de Bannoù-heol</a></p>
</div>

<div id="mentions" class="p-5" style="display: none;max-width:600px;font-size:85%;">
  <h3>Mentions légales</h3>
  <p>Ce site est édité par l'association Bannoù-heol - 26 ter, chemin de Kervouieg - 29000 Kemper - tél. : +33 6 08 88 57 55.</p>
  <p>Ce site est hébergé par 1&1 Internet SARL - 7, place de la gare - BP 70109 - 57201 Sarreguemines Cedex - tél. : +33 9 70 80 89 11.</p>
</div>

<div id="cgv" class="p-5" style="display: none;max-width:600px;font-size:85%;">
    <h3>Politique de retour - remboursement</h3>
    <p>Il se peut que vous souhaitiez nous retourner des articles, la loi vous permettant d'exercer un droit de rétractation sous 14 jours suite à un achat. Cependant, tout retour, quel qu’en soit le motif ou la raison est à vos frais, sauf si l'article est arrivé endommagé. Nous ne pouvons malheureusement accepter de rétractation s'agissant des produits tels que les CD et livres lorsque ces articles ont été descellés. Vous serez remboursé intégralement (hors frais d'expédition) dans un délai de 2 jours ouvrés à réception de l'article retourné.</p>
    <p>Pour toute demande de retour - remboursement, contactez-nous à cette adresse : contact@b-heol.com</p>
</div>


<!--
<ul class="navbar-nav">
    {{ $url := .URL | relLangURL }}
    {{ range .Site.Menus.main }}
    <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
        {{ if eq (hasPrefix .URL "mailto:") true }}
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
            <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
    </li>
    {{ end }}
</ul>
-->

<footer class="sticky-bottom footer pb-0 mb-0">
    <div class="row d-flex justify-content-between">
      <div class="col text-left">
        <ul class="list-unstyled">
          <li><a data-fancybox="contact" data-src="#contact" href="javascript:;">Contactez-nous</a></li>
          <li><a data-fancybox="mentions" data-src="#mentions" href="javascript:;">Mentions légales</a></li>
          <li><a data-fancybox="cgv" data-src="#cgv" href="javascript:;">CGV</a></li>
        </ul>
        <h6 class="mb-0" style="color:#fff;font-size:0.8rem;font-weight:bold;">Association Bannoù-heol</h6>
        <p style="color:#fff;font-size:0.8rem;">26 ter, chemin de Kervouieg<br>29000 Quimper<br>Tél. : +33 6 08 88 57 55.</p></p>
      </div>
      <div class="col text-right">
        <h3 style="color:#eee;">Suivez-nous sur les réseaux sociaux</h3>
        <ul class="list-inline social-icons">
          <li class="list-inline-item pr-3"><a href="https://facebook.com/kanarbed" target="_blank" rel="noopener"><i class="fab fa-facebook fa-4x"></i></a></li>
          <li class="list-inline-item"><a href="https://instagram.com/kanarbed" target="_blank" rel="noopener"><i class="fab fa-instagram fa-4x"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>