<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Kan ar Bed, Un Voyage Musical Autour du Monde, un livre bilingue français-breton ludique et un magnifique CD, idéal pour les enfants et leurs parents, à découvrir absolument.">
{{ template "_internal/opengraph.html" . }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.og_image | relURL }}"/>
{{ template "_internal/twitter_cards.html" . }}