<div class="container-fluid bg-blue"> <!--Google Maps-->
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=1whoMaeKV5gOzuDLpdlZ5pNiMYp7OyMzG"></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <h3>Kan ar Bed près de chez vous !</h3>
        <p>Vous habitez en Bretagne ou Loire-Atlantique ? Vous pourrez certainement trouver Kan ar Bed dans un commerce proche de chez vous ! Voici la carte interactive.</p>
      </div>
    </div>
  </div>
</div>