<div class="container-fluid bg-blue" style="margin-top:-1px"> <!-- Streaming -->
      <div class="row align-items-center">
          <div class="col-md-6 py-4">
              <h3>Kan ar Bed en streaming</h3>
              <p>Écoutez l'album <strong>Kan ar Bed, Un Voyage Musical Autour du Monde</strong> dans son intégralité sur votre <strong>plateforme de streaming préférée</strong> !</p>
              <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3464752015/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://kanarbed.bandcamp.com/album/kan-ar-bed-un-voyage-musical-autour-du-monde">Kan ar Bed, Un Voyage Musical Autour du Monde by Kan ar Bed</a></iframe>
          </div>
          <div class="col-md-6 py-4 d-flex">
              <ul class="list-inline mx-auto justify-content-center">
                <li class="list-inline-item pr-3 text-center">
                  <a href="http://bit.ly/KAByoutube" target="_blank">
                    <i class="fab fa-youtube fa-3x"></i><br>YouTube</li>
                  </a>
                <li class="list-inline-item pr-3 text-center">
                  <a data-fancybox="" data-src="#soon" data-modal="true" href="javascript:;">
                    <i class="fab fa-spotify fa-3x"></i><br>Spotify
                  </a>
                </li>
                <li class="list-inline-item pr-3 text-center">
                    <a data-fancybox="" data-src="#soon" data-modal="true" href="javascript:;">
                    <i class="fa fa-align-left fa-fw fa-rotate-270 fa-3x"></i><br>Deezer
                  </a>
                </li>
                <li class="list-inline-item pr-3 text-center">
                  <a href="http://kanarbed.bandcamp.com" target="_blank">
                    <i class="fab fa-bandcamp fa-3x"></i><br>Bandcamp
                  </a>
                </li>
              </ul>
          </div>
      </div>
  </div>