<div class="container-fluid px-0" id="kanarbed"> <!-- Product list-->
  <div class="p-3" style="background:#162b41;color:#fff;font-size:1.5rem;font-family:'Open Sans';text-transform:uppercase;text-align:center;">
    <img src="/img/kanarbed-white.png" width="320"><br>
    se décline sur deux supports
  </div>
  <div class="row d-flex justify-content-center product-list">
    <div class="col-md-4 bg-light text-center product m-3">
      <a href="/product/kan-ar-bed-livre-cd" class="d-block">
        <img src="/img/kan-ar-bed-livre.jpg" class="img-fluid">
        <h3 class="display-5 declinaison-titre text-dark">Livre-CD. <span class="text-secondary">Le cadeau parfait.</span></h2>
        <p class="lead">Un magnifique livre bilingue incluant les textes en Breton et leur traduction en Français, des illustrations et une histoire à destination de la jeunesse.</p>
        <p class="text-muted">Album de 50 pages, 24 x 24cm + 1 CD</p>
        <p class="price">21,90€</p>
        <p class="shipping">Livré en 72h chez vous</p>
      </a>
    </div>
    <div class="col-md-4 bg-light text-center product m-3">
      <a href="/product/kan-ar-bed-cd" class="d-block">
        <img src="/img/kan-ar-bed-cd.jpg" class="img-fluid">
        <h3 class="display-5 declinaison-titre text-dark">CD. <span class="text-secondary">Voyagez en musique.</span></h2>
        <p class="lead">Album de 13 musiques du monde célèbres<br>(Idir, Manu Chao, Simon & Garfunkel ...) réarrangées et adaptées en langue bretonne.</p>
        <p class="text-muted">Album digipack 3 volets.</p>
        <p class="price">12,90€</p>
        <p class="shipping">Livré en 72h chez vous</p>
      </a>
    </div>
  </div>
  </div>