<div class="container-fluid" style="background:#cab17a;"> <!-- Résumé -->
    <div class="row align-items-center">
        <div class="col-md-7 px-4 py-3">
            <h3>La presse en parle</h3>
            <p>
                "La petite Liza vit au cœur des monts d’Arrée. Une nuit, elle décide, en songe, de découvrir le monde. En survolant les pays elle va être transportée par les <strong>musiques de Russie, d’Argentine, de Bolivie, du Pays Basque</strong>... Treize étapes, treize morceaux de musique de différents pays mêlés aux sonorités de la langue
                bretonne.
            </p>
            <p>
                <strong>Pas besoin d’être bretonnant pour capter la poésie de la langue</strong> et de la démarche un peu folle des instigateurs de ce projet qui a réuni plus de cent auteurs, chanteurs de Bretagne et d’ailleurs. C’est une belle idée de <strong>cadeau de Noël</strong>, à la fois un disque et un livre, illustré par Geoffrey Berniolle avec un côté ludique quand il s’agit de découvrir un instrument dans un dessin très travaillé, sur un joli conte de Clara Colin. Un travail de longue haleine. Une réussite."
            </p>
            <p class="text-right py-0" style="font-size:0.65rem;">Jean-Marc PINSON - Ouest France</p>
        </div>
        <div class="col-md-5 px-0">
            <picture>
                <source srcset="/img/kan-ar-bed-livre-3@800.webp" type="image/webp">
                <img src="/img/kan-ar-bed-livre-3@800.jpg" class="img-fluid">
            </picture>
        </div>
    </div>
  </div>