<div class="container-fluid px-0" id="kanarbed"> <!-- Product list-->
  <div class="p-3" style="background:#162b41;color:#fff;font-size:1.5rem;font-family:'Open Sans';text-transform:uppercase;text-align:center;">
    <picture>
      <source srcset="/img/kanarbed-white@640.webp" sizes="320px" type="image/webp">
      <img src="/img/kanarbed-white@640.png" width="320">
    </picture><br>
    se décline sur deux supports
  </div>
  <div class="row d-flex justify-content-center product-list">
    <div class="col-md-4 bg-light text-center product m-3">
      <a href="/product/kan-ar-bed-livre-cd" class="d-block">
        <picture>
          <source srcset="/img/kan-ar-bed-livre-2@800.webp" type="image/webp">
          <img src="/img/kan-ar-bed-livre-2@800.jpg" class="img-fluid">
        </picture>
        <h3 class="display-5 declinaison-titre text-dark">Livre-CD. <span class="text-secondary">Le cadeau parfait.</span></h2>
        <p class="lead">Un magnifique livre bilingue incluant les textes en breton et leur traduction en français, des illustrations et une histoire à destination de la jeunesse.</p>
        <p class="text-muted">Album de 50 pages, 24 x 24cm + 1 CD</p>
        <p class="price my-0">21,90€</p>
        <p class="moreInfos"><i class="fas fa-plus"></i> Plus d'informations</p>
        <p class="shipping">Livré en 72h chez vous</p>
      </a>
    </div>
    <div class="col-md-4 bg-light text-center product m-3">
      <a href="/product/kan-ar-bed-cd" class="d-block">
        <picture>
          <source srcset="/img/kan-ar-bed-cd@800.webp" type="image/webp">
          <img src="/img/kan-ar-bed-cd@800.jpg" class="img-fluid">
        </picture>
        <h3 class="display-5 declinaison-titre text-dark">CD. <span class="text-secondary">Voyagez en musique.</span></h2>
        <p class="lead">Album de 13 musiques du monde célèbres<br>(Idir, Manu Chao, Simon & Garfunkel ...) réarrangées et adaptées en langue bretonne.</p>
        <p class="text-muted">Album digipack 3 volets.</p>
        <p class="price my-0">12,90€</p>
        <p class="moreInfos"><i class="fas fa-plus"></i> Plus d'informations</p>
        <p class="shipping">Livré en 72h chez vous</p>
      </a>
    </div>
  </div>
  </div>