<div class="container-fluid"> <!-- Résumé -->
    <div class="row align-items-center">
        <div class="col-md-5 px-0">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/GP0fqYEEzQw?loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-7 py-3">
            <h3>Kan ar Bed en résumé</h3>
            <p>Liza vit dans les Monts d’Arrée, au coeur de la <strong>Bretagne</strong>. Une nuit, la jeune fille décide de partir à la découverte du monde. Kan ar Bed, disponible en <strong>livre-CD bilingue français-breton et CD</strong>, est une invitation au voyage à travers treize morceaux de musique de différents pays, mêlés avec bonheur aux sonorités de la <strong>langue bretonne</strong>. Plus de cent auteurs, chanteurs et musiciens de <strong>Bretagne</strong> et d’ailleurs, réunis pour la première fois, nous font partager le plus beau des voyages en musique. Une occasion, pour petits et grands, de partir à la découverte des cultures du monde tout en s’initiant à la langue bretonne.</p>
        </div>
    </div>
  </div>