<div class="container-fluid px-0" id="products"> <!-- Product list-->
  <div class="row">
    <div class="col-md text-center overflow-hidden product product-book py-5">
      <a href="/product/kan-ar-bed-livre-cd" class="d-block">
        <div class="my-3 p-3">
          <h3 class="display-5 declinaison-titre text-dark">Livre-CD. <span class="text-secondary">Jeunesse.</span></h2>
          <p class="lead">Un livre bilingue français-breton &amp; un CD<br>à destination de la jeunesse.</p>
          <p class="text-muted">Un magnifique album de 48 pages, 24 x 24cm</p>
        </div>
      </a>
    </div>
    <div class="col-md bg-light text-center overflow-hidden product product-cd py-5">
      <a href="/product/kan-ar-bed-cd" class="d-block">
        <div class="my-3 py-3">
          <h3 class="display-5 declinaison-titre text-dark">CD. <span class="text-secondary">Tout public.</span></h2>
          <p class="lead">Album tout public, 13 musiques du monde célèbres<br>(Idir, Manu Chao, Simon & Garfunkel ...).</p>
          <p class="text-muted">Album digipack 3 volets.</p>
        </div>
      </a>
    </div>
  </div>
  </div>