<section class="home-hero">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-lg-6 d-flex align-items-center py-4">
          <div class="content">
            <h1>Kan ar Bed</h1>
            <h2>Un Voyage Musical Autour du Monde</h2>
            <h3 class="d-none">Le CD &amp; livre-CD événement</h3>
            <p class="hero-text text-muted">« Un <strong>voyage musical</strong> traversant Tahiti, la Chine, l’Afrique du Sud, l’Argentine, l’Angleterre, la Corse, l'Espagne, … chanté en breton ? Voici <strong>Kan ar Bed</strong>, l’album novateur en <strong>Bretagne</strong> à découvrir absolument. »</p>
            <p><h5 class="hero-text">Disponible en <strong>CD</strong> et <strong>livre-CD</strong> pour Noël</h5></p>
            <a class="btn btn-buy" href="#kanarbed">
                Acheter maintenant &nbsp;<i class="fas fa-shopping-bag"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-6 order-first order-md-last order-lg-last">      
          <div class="img-fluid">
            <picture>
              <source srcset="/img/kan-ar-bed-livre-cd-mockup-3@800.webp" type="image/webp">
              <img src="/img/kan-ar-bed-livre-cd-mockup-3@800.jpg" alt="Kan ar Bed" class="img-fluid mx-auto d-block">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>